.header {
  background-color: #282c34;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 30px;
}

.header__container {
  padding: 24px 40px 16px;
  max-width: 1250px;
  margin: 0 auto;
}
