:root {
  --credit-color: #2b7d6a;
  --debit-color: #bb0303;
  --light-bg-color: #d2ded0;
  --container-max-width: 1100px;
  --light-text-color: #676767;
  --dark-text-color: #b3b3b3;
  --dark-bg-color: #232529;
  --light-bg-color-secondary: #fffff0;
  --dark-bg-color-secondary: #3b3e45;
  --header-bg-color: #2b7d6a;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  font-size: 16px;
}

body .dark {
  color: var(--dark-text-color);
}

button {
  font-size: 1.2em;
  color: var(--light-bg-color);
  border: none;
  padding: 5px 15px;
  font-weight: bold;
}

:focus {
  outline: var(--credit-color) auto 2px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
